swiper {
        height: 30vh;
        div {
            transform: translateY(10%);
            height: 20vh;
            width: 94%;
            margin: auto;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 2px;
        }
    }